<html>
  <head>
    <title>PAGE POTIN</title>
  </head>

  <body>
  <p>
  <h2>Voici la page du potin n° <%= params['id'] %> !</h2>
    <p>Son auteur : <%= gossip.author %></p>
    <p>Le contenu du potin : <%= gossip.content %></p>
    <h4>Pour éditer le potin, clique <a href="/gossips/<%=params['id']%>/edit">ICI</a></h4> 
    <p>
    <h4>Pour revenir à la page des potins, clique <a href="/">ICI</a></h4>
  </body>
</html>